.summary_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    border-radius: 10px;
    background-color: #1A1C22;
    height: 95px;
    min-width: 150px;
    max-width: 400px;
    padding: 8px 16px;
    .span_container_icon{
        height: 40px;
        width: 40px;
        border-radius: 10px;
        background-color: #282C35;
        padding: 10px;
    }
    .span_container_data{
        p{
            color: #9E9E9E;
            font-size: 0.8rem;
        }
        span{
            font-size: 1.5rem;
        }
    }
}